table {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 5px;
}

.totals td {
  text-align: center;
}

.right {
  float: right;
}
